### DEFAULTS

Downloads/
Screenshots/
Pictures/
Music
Pictures
Templates
Videos

.cargo/
.rustup/
.steam/
.steampath
.steampid
.ssh/
.pki/
.local/
.cache/
.ghidra/
.gitkraken/
.gnome/
.gnupg/
.java
.tldrc/
.vscode
.bash_history
.python_history
.Xauthority
.viminfo
.nix-defexpr/
.vim/
.nix-profile
.nvidia-settings-rc
.compose-cache/
.hyper_plugins/
.themes/
.gk/
.wget-hsts
.lesshst

.config/QtProject.conf
.config/Unknown Organization/
.config/btop/
.config/gitui/
.config/nautilus/
.config/gtk-3.0/
.config/mimeapps.list
.config/Hyper/
.config/htop/htoprc
.config/monitors.xml
.config/discord/
.config/Code/
.config/autostart/
.config/dconf/
.config/enchant/
.config/GitKraken/
.config/google-chrome/
.config/gnome-control-center/
.config/gnome-initial-setup-done
.config/user-dirs.dirs 
.config/user-dirs.locale
.config/.gsd-keyboard.settings-ported
.config/menus/
.config/pulse/
.config/fish/fish_variables
.config/evolution/
.config/rygel.conf
.config/cef_user_data/
.config/texstudio/
.config/inkscape/
.config/warp-terminal/
.config/bottom/
.config/CuteCom/
.config/VirtualBox/
.config/monitors.xml~
.config/Thunar/
.config/obsidian/

### USER

thesis/
ma/
cctv/
ba/
safeside/
nixpkgs/
transientfail/
ridl/
dotfiles/
malana/
uController/
cpu-emulator/
uc_04_03_24.zip
shared/
AliGn
samples/
thoth/
