### DEFAULTS

Downloads/
Screenshots/

.ssh/
.pki/
.local/
.cache/
.ghidra/
.gitkraken/
.gnome/
.gnupg/
.java
.tldrc/
.vscode
.bash_history
.python_history
.Xauthority
.viminfo
.nix-defexpr/
.vim/
.nix-profile
.nvidia-settings-rc
.compose-cache/
.hyper_plugins/

.config/nautilus/
.config/gtk-3.0/
.config/mimeapps.list
.config/Hyper/
.config/htop/htoprc
.config/monitors.xml
.config/discord/
.config/Code/
.config/autostart/
.config/dconf/
.config/enchant/
.config/GitKraken/
.config/google-chrome/
.config/gnome-control-center/
.config/gnome-initial-setup-done
.config/user-dirs.dirs 
.config/user-dirs.locale
.config/.gsd-keyboard.settings-ported
.config/menus/
.config/pulse/
.config/fish/fish_variables
.config/evolution/

### USER

ma/
ba/
safeside/
nixpkgs/
